/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

/* Text Styles*/

  html{
    font-size: 10px;
  }

  h1{
    font-size: 4rem;
    text-align: center;
  }

  h2{
    font-size: 3rem;
  }

  h1, h2{
    letter-spacing: .2rem;
  }

  p, li{
    font-size: 1.5rem;
    line-height: 2rem;
    word-spacing: .2rem;
    letter-spacing: .05rem;
  }

  section h2 + p{
    text-indent: 2rem;
  }

  /* Link Styles */

  a {
    outline: none;
  }

  a:focus, a:hover {
    text-decoration: none;
  }

  a:link, a:visited {
    color: rgb(255, 115, 0)
  }
  
  a[href*="http"] {
    padding-right: 1.9rem;
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 15px 15px;
  }

  /* Nav Styles */

  nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav li{
    list-style: none;
    border: solid rgb(255, 117, 5);
    margin: 2rem; 
  }

  nav li a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 1rem 3rem;
    text-align: center;
  }

  nav li a:hover, nav li a:focus{
    background-color:rgb(255, 117, 5);
    color: white;
    font-weight: bold;
  }

  nav li a:active {
    transform: scale(130%);
  }
